# Dependencies
node_modules/

# Environment
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Build / coverage
dist/
build/
coverage/

# OS/editor
.DS_Store
Thumbs.db
Desktop.ini
.vscode/
.idea/

# Database files
*.sqlite
*.sqlite3
*.db